<a href="https://colab.research.google.com/github/Aravindkumar-wp/2025-2026-4122-Aravindkumar-AI-B-DS/blob/main/10_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 2: 10-02-2026

In [3]:
#5Q.
# Linear Search

n = int(input("enter no. of elements:"))
arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i+1}:")))

key = int(input("enter element to search:"))

found = False

for i in range(n):
    if arr[i] == key:
        print(f"element {key} found at position {i+1}")
        found = True
        break

if not found:
    print("element not found:")

enter no. of elements:4
enter element 1:23
enter element 2:34
enter element 3:46
enter element 4:14
enter element to search:34
element 34 found at position 2

In [4]:
#Binary Search

n = int(input("enter number of elements:"))

arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i+1}:")))

arr.sort()
print("\n sorted list :", arr)

key = int(input("enter element to search:"))

low = 0
high = n-1

found = False
while low <= high:
    mid = (low + high) // 2

    if arr[mid] == key:
        print(f"element {key} found at position {mid+1}")
        found = True
        break

    elif key < arr[mid]:
        high = mid - 1
    else:
        low = mid + 1

if not found:
    print(f"element {key} not found in the list")

enter number of elements:4
enter element 1:24
enter element 2:57
enter element 3:79
enter element 4:67

 sorted list : [24, 57, 67, 79]
enter element to search:79
element 79 found at position 4

In [5]:
#6Q.
# Bubble sort
n = int(input("enter num of elements:"))

arr = []

for i in range(n):
    arr.append(int(input(f"enter element {i+1}:")))

print("\n Original array:", arr)

# Bubble sort logic
for i in range(n-1):
    for j in range(n-1-i):
        if arr[j] > arr[j+1]:
            # Swap
            arr[j], arr[j+1] = arr[j+1], arr[j]

print("Sorted array:", arr)

enter num of elements:4
enter element 1:34
enter element 2:64
enter element 3:38
enter element 4:354

 Original array: [34, 64, 38, 354]
Sorted array: [34, 38, 64, 354]

In [6]:
#selection sort

n=int(input("enter no.of elements:"))
arr=[]
for i in range(n):
  arr.append(int(input(f"enter elements{i+1}")))

print("\n Original array:",arr)
# selection sort logic
for i in range(n-1):

  min_index=i
  for j in range(i+1,n):
    if arr[j]<arr[min_index]:
      min_index=j
  #swap found min element with current element 'i'
  if min_index != i:
    arr[i],arr[min_index]=arr[min_index],arr[i]
print("\n Sorted array:",arr)

enter no.of elements:4
enter elements135
enter elements257
enter elements323
enter elements445

 Original array: [35, 57, 23, 45]

 Sorted array: [23, 35, 45, 57]

In [10]:
import pandas as pd
data={
      "ID":[101,102,103,104,105],
      "Name":["Alice","Bob","Charlie","David","Eve"],
      "Age":[22,25,23,24,26],
      "Marks":[85,78,92,88,90]
}
df=pd.DataFrame(data)
print("Original dataframe:")
print(df)
print("\nStudents with marks>85:")
print(df[df["Marks"]>85])
print("\n Students with age<25:")
print(df[df["Age"]<25])
# Students with age > 23 AND marks >= 88
print("\nStudents with age > 23 and marks >= 88:")
print(df[(df["Age"] > 23) & (df["Marks"] >= 88)])

# Students with marks > 90 OR age < 23
print("\nStudents with marks > 90 or age < 23:")
print(df[(df["Marks"] > 90) | (df["Age"] < 23)])

Original dataframe:
    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eve   26     90

Students with marks>85:
    ID     Name  Age  Marks
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eve   26     90

 Students with age<25:
    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92
3  104    David   24     88

Students with age > 23 and marks >= 88:
    ID   Name  Age  Marks
3  104  David   24     88
4  105    Eve   26     90

Students with marks > 90 or age < 23:
    ID     Name  Age  Marks
0  101    Alice   22     85
2  103  Charlie   23     92

In [11]:
import pandas as pd

data = {
    "ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [22, 25, 23, 24, 26],
    "Marks": [85, 78, 92, 88, 90]
}

df = pd.DataFrame(data)

print(df)
print(df["Name"])
print(df["Marks"])

df[["Name", "Marks"]]

print("location 0", df.iloc[0])
print("location 1 to 4", df.iloc[1:4])
print("location 1 to 3", df.iloc[0:3, 1:3])

    ID     Name  Age  Marks
0  101    Alice   22     85
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
4  105      Eva   26     90
0      Alice
1        Bob
2    Charlie
3      David
4        Eva
Name: Name, dtype: object
0    85
1    78
2    92
3    88
4    90
Name: Marks, dtype: int64
location 0 ID         101
Name     Alice
Age         22
Marks       85
Name: 0, dtype: object
location 1 to 4     ID     Name  Age  Marks
1  102      Bob   25     78
2  103  Charlie   23     92
3  104    David   24     88
location 1 to 3       Name  Age
0    Alice   22
1      Bob   25
2  Charlie   23

In [12]:
# Data Manipulation
import pandas as pd

# create Dataframe
data = {
    "Name": ["A", "B", "C"],
    "Age": [20, 21, 22],
    "Marks": [70, 80, 90]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

# Add new column
df["Bonus"] = 5
print("\n After adding Bonus:")
print(df)

# Increase marks
df["Marks"] = df["Marks"] + 2
print("\n After increasing marks")
print(df)

# Change value
df.loc[0, "Age"] = 21
print("\n After changing age of first student:")
print(df)

# Rename column
df.rename(columns={"total": "final"}, inplace=True)
print("\n After renaming total to final:")
print(df)

# Remove column
df.drop("Bonus", axis=1, inplace=True)
print("\n After removing Bonus:")
print(df)

Original Data:
  Name  Age  Marks
0    A   20     70
1    B   21     80
2    C   22     90

 After adding Bonus:
  Name  Age  Marks  Bonus
0    A   20     70      5
1    B   21     80      5
2    C   22     90      5

 After increasing marks
  Name  Age  Marks  Bonus
0    A   20     72      5
1    B   21     82      5
2    C   22     92      5

 After changing age of first student:
  Name  Age  Marks  Bonus
0    A   21     72      5
1    B   21     82      5
2    C   22     92      5

 After renaming total to final:
  Name  Age  Marks  Bonus
0    A   21     72      5
1    B   21     82      5
2    C   22     92      5

 After removing Bonus:
  Name  Age  Marks
0    A   21     72
1    B   21     82
2    C   22     92