<a href="https://colab.research.google.com/github/Aravindkumar-wp/2025-2026-4122-Aravindkumar-AI-B-DS/blob/main/pandasmanipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#REARRANGING
import pandas as pd
data={
    'Name':['A','B','C'],
    'Age':[19,18,22],
    'Marks':[85,90,80]
}
df=pd.DataFrame(data)
print(df)
#marks arrangement-ascending
df_sorted=df.sort_values(by='Marks')
print("After rearranging marks by ascending order:")
print(df_sorted)
#marks arrangement-descending
df_sorted_desc=df.sort_values(by='Marks',ascending=False)
print("After rearranging marks by descending order:")
print(df_sorted_desc)
#rearranging columns
df_rearranged=df[['Age','Name','Marks']]
print("After rearranging columns:")
print(df_rearranged)

  Name  Age  Marks
0    A   19     85
1    B   18     90
2    C   22     80
After rearranging marks by ascending order:
  Name  Age  Marks
2    C   22     80
0    A   19     85
1    B   18     90
After rearranging marks by descending order:
  Name  Age  Marks
1    B   18     90
0    A   19     85
2    C   22     80
After rearranging columns:
   Age Name  Marks
0   19    A     85
1   18    B     90
2   22    C     80

In [3]:
#GROUPING
import pandas as pd
data={
    "Department":['IT','IT','HR','HR','Finance'],
    "Name":['A','B','C','D','E'],
    "Marks":[80,85,75,90,88]
}
df=pd.DataFrame(data)
print(df)
#mean()
print("Average marks by department:")
print(df.groupby("Department")["Marks"].mean())
#sum()
print("Total marks by department:")
print(df.groupby("Department")["Marks"].sum())
#count()
print("Number of students by department:")
print(df.groupby("Department")["Marks"].count())

  Department Name  Marks
0         IT    A     80
1         IT    B     85
2         HR    C     75
3         HR    D     90
4    Finance    E     88
Average marks by department:
Department
Finance    88.0
HR         82.5
IT         82.5
Name: Marks, dtype: float64
Total marks by department:
Department
Finance     88
HR         165
IT         165
Name: Marks, dtype: int64
Number of students by department:
Department
Finance    1
HR         2
IT         2
Name: Marks, dtype: int64

In [4]:
#RANKING
import pandas as pd
data={
    'Name':['A','B','C','D'],
    'Marks':[85,92,78,92]
}
df=pd.DataFrame(data)
print(df)
df["Rank"]=df["Marks"].rank(ascending=False)
print("\nAfter ranking:")
print(df)

  Name  Marks
0    A     85
1    B     92
2    C     78
3    D     92

After ranking:
  Name  Marks  Rank
0    A     85   3.0
1    B     92   1.5
2    C     78   4.0
3    D     92   1.5