<a href="https://colab.research.google.com/github/Aravindkumar-wp/2025-2026-4122-Aravindkumar-AI-B-DS/blob/main/week-4/SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
conn = sqlite3.connect("example.db")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    email TEXT UNIQUE
)
""")
print("Table created successfully.")
cursor.execute("INSERT INTO users (name, age, email) VALUES (?, ?, ?)",
               ("Alice", 25, "alice@example.com"))
cursor.execute("INSERT INTO users (name, age, email) VALUES (?, ?, ?)",
               ("Bob", 30, "bob@example.com"))
conn.commit()
print("Data inserted successfully.")
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
print("\nUsers in database:")
for row in rows:
    print(row)
cursor.execute("UPDATE users SET age = ? WHERE name = ?", (28, "Alice"))
conn.commit()
print("\nRecord updated successfully.")
cursor.execute("DELETE FROM users WHERE name = ?", ("Bob",))
conn.commit()
print("Record deleted successfully.")
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
print("\nFinal data:")
for row in rows:
    print(row)
conn.close()
print("\nDatabase connection closed.")

Table created successfully.
Data inserted successfully.

Users in database:
(1, 'Alice', 25, 'alice@example.com')
(2, 'Bob', 30, 'bob@example.com')

Record updated successfully.
Record deleted successfully.

Final data:
(1, 'Alice', 28, 'alice@example.com')

Database connection closed.