<a href="https://colab.research.google.com/github/Aravindkumar-wp/2025-2026-4122-Aravindkumar-AI-B-DS/blob/main/03_01_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

week 1 :03-02-2026

In [ ]:
#2Q.
#list
a=[10,20,30]
b=[1,2,3]
print("list 1:",a)
print("list 2:",b)
a.append(40)
a.extend([50,60])
print("updated list :",a)

list 1: [10, 20, 30]
list 2: [1, 2, 3]
updated list : [10, 20, 30, 40, 50, 60]

In [ ]:
#tuple
#creation and artemetic operations
t1=(1,2,3)
t2=(10,20,30)
print("add: ",t1+t2)
print(min(t1))
print(max(t2))

#indexing
t = (10, 20, 30, 40)

print(t[0])
print(t[-1])
print(t[1:])

len(t)

add:  (1, 2, 3, 10, 20, 30)
1
30
10
40
(20, 30, 40)

4

In [ ]:
#creation of sets
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
print("set 1: ",s1)
print("set 2:",s2)
print("union: ",s1|s2)
print("Intersection: ", s1 & s2)
print("Difference (s1 - s2): ", s1 - s2)
print("Difference (s2 - s1): ", s2 - s1)
print("Symmetric Difference: ", s1 ^ s2)

set 1:  {1, 2, 3, 4}
set 2: {3, 4, 5, 6}
union:  {1, 2, 3, 4, 5, 6}
Intersection:  {3, 4}
Difference (s1 - s2):  {1, 2}
Difference (s2 - s1):  {5, 6}
Symmetric Difference:  {1, 2, 5, 6}

In [ ]:
#Dictionary
student = {
    "name": "Aravind",
    "roll": 122,
    "branch": "CSA"
}
print(student)
print(student["name"])
print(student.get("roll"))
student["college"] = "Methodist"
student["roll"] = 4122
print(student)
print(student.keys())
print(student.values())
print(student.items())

{'name': 'Aravind', 'roll': 122, 'branch': 'CSA'}
Aravind
122
{'name': 'Aravind', 'roll': 4122, 'branch': 'CSA', 'college': 'Methodist'}
dict_keys(['name', 'roll', 'branch', 'college'])
dict_values(['Aravind', 4122, 'CSA', 'Methodist'])
dict_items([('name', 'Aravind'), ('roll', 4122), ('branch', 'CSA'), ('college', 'Methodist')])

In [ ]:
'''4.Write the code to create, save, and read a file from the local drive and
perform text operations such as counting the number of lines, words, and
characters.'''
# Create and write to a file
file_name = "sample_text.txt"

with open(file_name, "w") as file:
    file.write("Hello World\n")
    file.write("This is a Python file handling example\n")
    file.write("Counting lines words and characters")

print("File created and data written!")

# Read file and perform operations
with open(file_name, "r") as file:
    text = file.read()

# Count lines
lines = text.split("\n")
line_count = len(lines)

# Count words
word_count = len(text.split())

# Count characters
char_count = len(text)

print("Number of lines:", line_count)
print("Number of words:", word_count)
print("Number of characters:", char_count)

File created and data written!
Number of lines: 3
Number of words: 14
Number of characters: 86

In [ ]:
#3Q.
import pandas as pd
url="https://raw.githubusercontent.com/dataprofessor/data/master/BostonHousing.csv"
df=pd.read_csv(url)
print(df.head())
df.to_csv(r"d:BostonHousing.csv",index=False)
print("Data Set save sucessfull to local drive")

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2
Data Set save sucessfull to local drive