<a href="https://colab.research.google.com/github/Aravindkumar-wp/2025-2026-4122-Aravindkumar-AI-B-DS/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#tuple
#creation and artemetic operations
t1=(1,2,3)
t2=(10,20,30)
print("add: ",t1+t2)

add:  (1, 2, 3, 10, 20, 30)

In [29]:
print(min(t1))
print(max(t2))

1
30

In [23]:
#indexing
t = (10, 20, 30, 40)

print(t[0])
print(t[-1])
print(t[1:])

10
40
(20, 30, 40)

In [25]:
len(t)

4